# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environments and configs
.env
.env.*
env/
venv/
.venv/

# Project exports (Bulk upload outputs)
temp_exports/

# OS-specific
.DS_Store
Thumbs.db
